@import "shop.css";

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop {
    border: 0.1em black dotted;
    padding: 0.3em 0.1em;
    margin: 0 0.3em;
    flex-basis: 30%;

}

.pageHeader {
    text-align: center;
    padding: 1em;
}